<h3> Gestion des utilisateurs </h3> 

    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle</th>
            <th scope="col">Date de naissance</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}

            <form class="formEventTab">
                <div class="form-group">
                    <tr id="tableau">
                            <input type="hidden" name="linkEdit" value='/user/edit/{{user.id}}' />
                            <input type="hidden" name="linkDelete" value='/user/delete/{{user.id}}'/>
                        <td scope="row"><input type="text" name="prenom"  value="{{ user.prenom }}" disabled></td>  
                        <td> <input type="text" name="nom"  value="{{ user.nom }}" disabled></td> 
                        <td> <input type="text" name="email" value="{{ user.email }}" disabled></td> 
                        <td><select name="droit" disabled>
                                    {% for role in roles %}
                                        <option value="{{ role.id }}" {{role.id == user.idDroit ? 'selected' : ''}}> {{ role.libelle }}</option>
                                    {% endfor %}
                                </select> </td>
                        <td> <input type="date" name="dateNaissance" value="{{ user.dateNaissance|date("Y-m-d") }}" disabled></td> 
                        <td> <button type="button" class="edit_user button_icon" name='{{user.nom}}' > <i class="fa-solid fa-pen"></i> </button><button class="button_icon" name="validIcon" type="submit" hidden> <i class="fa-solid fa-check"></i> </button>  </td>
                        <td class ="icone"> <button class="button_icon" type="submit"> <i class="fa-solid fa-trash-can"></i> </button></td>
                    </tr>
                </div>
            </form>
        {% endfor %}
    </tbody>
</table>