<h3> Gestion des évenements</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Evenement</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Description</th>
                <th scope="col">Participant</th>
                <th scope="col">Créateur</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for evenement in evenements %}

                <form id="tableau">
                    <div class="form-group">
                        <tr id="tableau">
                            <td scope="row"><input type="text"   value="{{ evenement.titre }}" disabled></td> 
                            <td><input type="text"  value="{{ evenement.libelle }}" disabled>
                                <select name="categorie" hidden>
                                    {% for categorie in categories %}
                                        <option value="{{ categorie.id }}"> {{ categorie.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td> <input type="text"  value="{{ evenement.description }}" disabled></td> 
                            <td> <input type="text"  value="{{ evenement.participant }}" disabled></td> 
                            <td> <input type="text"  value="{{ evenement.nom }}  {{ evenement.prenom }}" disabled></td> 
                            <td> <img src="../image/{{ evenement.image }}" class="card-img-top" alt="{{ evenement.image }}"> <input type="file" accept=".jpg, .png, .jpeg, .gif"  hidden> </td>
                            <td> <button class="button_icon" type="submit"> <i class="fa-solid fa-pen"></i> </button>  </td>
                            <td class ="icone"> <button class="button_icon" type="submit"> <i class="fa-solid fa-trash-can"></i> </button></td>
                        </tr>
                    </div>
                    
                </form>
            {% endfor %}

        </tbody>
    </table>
